@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.eot");
  src: url("../fonts/Gilroy-Black.eot") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
html {
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Gilroy", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1512px;
  width: 100%;
  margin: 0 auto;
  padding: 0 46px;
  box-sizing: border-box;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  max-width: 446px;
  width: 100%;
  padding: 18px 23px;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(90deg, #74b617 0%, #c8d528 100%);
  transition: transform ease-in 0.1s;
  will-change: transform;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.01);
}
.button:active {
  transform: scale(1);
}
.button::after {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background: url(../assets/arrow-right.svg) center no-repeat;
  background-size: 16px;
  transition: transform ease-in 0.1s;
  will-change: transform;
  cursor: pointer;
}
.button:hover::after {
  transform: translateX(6px);
}
.button_dark {
  background: linear-gradient(90deg, #371611 0%, #da9f28 100%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 13px 0;
}
.header .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  padding: 0 34px;
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 0;
}
.header__nav-link {
  display: inline-block;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #66442a;
  border: 1px solid #66442a;
  border-radius: 6px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform ease-in 0.1s;
  will-change: transform;
  cursor: pointer;
}
.header__nav-link:hover {
  transform: scale(1.04);
}
.header__nav-link:active {
  transform: scale(1);
}
.header__nav-language {
  display: inline-block;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #66442a;
  text-transform: uppercase;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  transition: transform ease-in 0.1s;
  will-change: transform;
  cursor: pointer;
}
.header__nav-language:hover {
  transform: scale(1.08);
}
.header__nav-language:active {
  transform: scale(1);
}

.footer {
  padding: 8px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 243%;
  color: #9d9d9d;
  background-color: #f4f4f4;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.first-screen {
  overflow: hidden;
}
.first-screen .container {
  position: relative;
  padding-top: 320px;
  padding-bottom: 320px;
}
.first-screen__title {
  position: relative;
  z-index: 2;
  margin: 0 0 11px;
  font-weight: 900;
  font-size: 92px;
  line-height: 87%;
  text-transform: uppercase;
  color: #4f3211;
}
.first-screen__description {
  position: relative;
  z-index: 2;
  margin: 0 0 69px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #000;
}
.first-screen__buttons {
  position: relative;
  z-index: 2;
}
.first-screen__cat {
  position: absolute;
  z-index: 1;
  display: block;
  max-width: 100%;
  height: auto;
}
.first-screen__cat_one {
  top: -135px;
  left: 262px;
}
.first-screen__cat_two {
  top: -69px;
  right: 220px;
}
.first-screen__cat_three {
  top: 207px;
  right: -90px;
}
.first-screen__cat_four {
  bottom: 66px;
  right: 667px;
}
.first-screen__cat_five {
  bottom: 275px;
  right: 371px;
}
.first-screen__cat_six {
  bottom: 10px;
  right: 57px;
}

.about {
  margin-top: -100px;
}
.about .container {
  display: flex;
  justify-content: flex-end;
  padding-top: 180px;
  padding-bottom: 119px;
  background: url(../assets/about-bg.png) center left -40px no-repeat;
}
.about__content {
  position: relative;
  max-width: 639px;
}
.about__content::before {
  content: "";
  position: absolute;
  top: -79px;
  left: -63px;
  z-index: 1;
  display: inline-block;
  height: 106px;
  width: 106px;
  background: url(../assets/quote.svg) center no-repeat;
}
.about__content-text {
  position: relative;
  z-index: 2;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #000;
}
.about__content-buttons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 52px 0 0;
}
.about__content-buttons > img {
  max-width: 100px;
}

.mission {
  position: relative;
  background: linear-gradient(139deg, #f4b81a 5.19%, #8e440f 100%);
}
@media screen and (max-width: 1512px) {
  .mission {
    position: static;
  }
}
.mission .container {
  position: static;
  padding-top: 167px;
  padding-bottom: 252px;
  background: url(../assets/mission-bg.png) center left 20px no-repeat;
}
@media screen and (max-width: 1512px) {
  .mission .container {
    position: relative;
  }
}
.mission .container::before {
  content: "";
  position: absolute;
  display: block;
  top: 64px;
  left: 50%;
  max-width: 883px;
  width: calc(100vw - 709px);
  height: 812px;
  background: url(../assets/mission-food.png) left center no-repeat;
}
@media screen and (max-width: 1800px) {
  .mission .container::before {
    left: auto;
    right: 0;
  }
}
.mission__title {
  margin: 0 0 44px;
  font-weight: 800;
  font-size: 72px;
  line-height: 111%;
  text-transform: uppercase;
  color: #371611;
}
.mission__text {
  max-width: 1088px;
  margin: 0 0 44px;
  font-weight: 600;
  font-size: 32px;
  line-height: 106%;
  color: #fff;
}

.contact-us {
  padding: 124px 0 114px;
}
.contact-us .container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.contact-us__figure {
  flex: 0 0 auto;
}
.contact-us__figure-image {
  max-width: 522px;
}
.contact-us__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-us__title {
  margin: 0 0 137px;
  font-weight: 900;
  font-size: 72px;
  line-height: 111%;
  text-transform: uppercase;
  text-align: right;
  color: #371611;
}
.contact-us__email {
  display: flex;
  justify-content: flex-end;
  max-width: 636px;
  width: 100%;
  margin-bottom: 25px;
  padding: 0 0 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.contact-us__email-link {
  display: flex;
  align-items: center;
  gap: 29px;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  color: #000;
}
.contact-us__email-link::after {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: url(../assets/envelope.svg) center no-repeat;
  background-size: 24px;
}
.contact-us__address {
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  color: #000;
}