.footer {
  padding: 8px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 243%;
  color: #9d9d9d;
  background-color: #f4f4f4;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
}
