.first-screen {
  overflow: hidden;

  & .container {
    position: relative;
    padding-top: 320px;
    padding-bottom: 320px;
  }

  &__title {
    position: relative;
    z-index: 2;
    margin: 0 0 11px;
    font-weight: 900;
    font-size: 92px;
    line-height: 87%;
    text-transform: uppercase;
    color: #4f3211;
  }

  &__description {
    position: relative;
    z-index: 2;
    margin: 0 0 69px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #000;
  }

  &__buttons {
    position: relative;
    z-index: 2;
  }

  &__cat {
    position: absolute;
    z-index: 1;
    display: block;
    max-width: 100%;
    height: auto;

    &_one {
      top: -135px;
      left: 262px;
    }

    &_two {
      top: -69px;
      right: 220px;
    }

    &_three {
      top: 207px;
      right: -90px;
    }

    &_four {
      bottom: 66px;
      right: 667px;
    }

    &_five {
      bottom: 275px;
      right: 371px;
    }

    &_six {
      bottom: 10px;
      right: 57px;
    }
  }
}
