.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  max-width: 446px;
  width: 100%;
  padding: 18px 23px;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(90deg, #74b617 0%, #c8d528 100%);
  transition: transform ease-in 0.1s;
  will-change: transform;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(1);
  }

  &::after {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../assets/arrow-right.svg) center no-repeat;
    background-size: 16px;
    transition: transform ease-in 0.1s;
    will-change: transform;
    cursor: pointer;
  }

  &:hover::after {
    transform: translateX(6px);
  }

  &_dark {
    background: linear-gradient(90deg, #371611 0%, #da9f28 100%);
  }
}
